:root {
    --lamp-color: rgb(88, 88, 88);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D9E1EE;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.canvas {
    position: relative;
    width: 100%;
    height: 100%;
}

.clock {
    margin: 80px 50px;
    transform: scale(0.8);
    position: relative;
    border: 4px solid #445765;
}

.hourHand {
    position: absolute;
    left: 50%;
    top: 8%;
    height: 2.5rem;
}

.minHand {
    position: absolute;
    top: 50%;
    right: 12%;
    width: 2.2rem;
}


.floor {
    z-index: 1;
    position: absolute;
    bottom: 0;
    background: #6340ffee;
    width: 100%;
    height: 5em;
}

.wallLamps {
    z-index: 10;
    position: absolute;
    top: 0;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    gap: 400px;
}

.lamp {
    width: 8px;
    height: 80%;
    background: var(--lamp-color);
    position: relative;
}

.lamptop {
    position: absolute;
    top: 90%;
    left: -6px;
    width: 20px;
    height: 20px;
    background: var(--lamp-color);
}

.lampHead {
    display: block;
    position: relative;
    top: 90%;
    left: -40px;
    width: 100px;
    height: 20px;
    border-radius: 50% 50% 0 0;
    background: var(--lamp-color);
    box-shadow: inset 0 0 0 1000px rgba(166, 151, 233, 0.3);
}

.lampHead::after {
  content: "";
  position: absolute;
  top: 100%; 
  left: 50%;
  transform: translateX(-50%);
  width: 180px;  
  height: 300px; 
  background: radial-gradient(
    ellipse at top,
    rgba(255, 255, 180, 0.3),
    rgba(255, 255, 180, 0) 80%
  );
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  filter: blur(5px);
  z-index: -1;
  pointer-events: none;
}

.windows {
    position: absolute;
    top: 15%;
    right: 30%;
    height: 200px;
    width: 35em;
    border: 10px solid #A8B6C7;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #cbe3fc;
}

.window {
    width: 100%;
    height: 100%;
    color: #A8B6C7;
}

.vase {
    z-index: 10;
    position: absolute;
    right: 30px;
    bottom: 5%;
    width: 100px;
    height: 120px;
    border-radius: 10px 10px 40% 40%;
    background: grey;
    transform: scale(0.6);
}

.branch {
    display: block;
    position: absolute;
    top: -100px;
    left: 30%;
    width: 3px;
    height: 100px;
    background: #09790f;
    transform: skew(10deg);
}

.leaf {
    display: block;
    position: absolute;
    top: -80px;
    left: -40px;
    width: 40px;
    height: 100px;
    background: linear-gradient(to bottom right, #4CAF50, #2E7D32);
    border-radius: 50% 50% 50% 50%;
    transform: rotate(-30deg);
    box-shadow: inset -5px 0 10px rgba(0, 0, 0, 0.1);
}

.branch2 {
    display: block;
    position: absolute;
    top: -40px;
    left: 60%;
    width: 3px;
    height: 40px;
    background: #09790f;
    transform: skew(-10deg);
}

.leaf2 {
    display: block;
    position: absolute;
    top: -40px;
    left: -10px;
    width: 30px;
    height: 50px;
    background: linear-gradient(to bottom right, #4CAF50, #2E7D32);
    border-radius: 50% 50% 50% 50%;
    transform: rotate(10deg);
    box-shadow: inset -5px 0 10px rgba(0, 0, 0, 0.1);
}

.table {
    z-index: 10;
    left: 200px;
    bottom: 3em;
    position: absolute;
    justify-self: center;
    width: 60%;
    height: 16rem;
    border: 20px solid #685A3E;
    border-bottom: 0;
    display: flex;
    gap: 100px;
}

.computer {
    position: relative;
    top: -75%;
    width: 200px;
    height: 130px;
    border: 10px solid #414141;
    background: #93d2ff;
    padding: 8px;
}

.stand {
    position: absolute;
    bottom: -40px;
    left: 45%;
    width: 10px;
    height: 40px;
    border: 10px solid #414141;
}

.whiteBoard {
    margin: 80px 50px;
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 180px;
    border: 10px solid;
    background: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.stickyNote {
    display: block;
    position: relative;
    width: 60px;
    height: 40px;
    padding: 10px;
}

.fill {
    display: block;
    width: 30px;
    height: 5px;
    background: #000;
    margin: 2px 0;
}

.fill2 {
    display: block;
    width: 30px;
    height: 5px;
    background: #000;
    margin: 2px 5px;
}

.app_window {
    width: 80px;
    height: 80px;
    background: #ffffff;
}

.app2_window {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    background: #DBEFFD;
}

.app3_window {
    width: 60px;
    height: 60px;
    background: #ffffff;
}

.app4_window {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 80px;
    height: 80px;
    background: #DBEFFD;
}

.app5_window {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 80px;
    height: 80px;
    background: #BDDCFC;
}

.app5_window {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 80px;
    height: 80px;
    background: #BDDCFC;
}

.app6_window {
    position: absolute;
    width: 80px;
    height: 80px;
    background: #d5eaff;
}

.app7_window {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 80px;
    height: 75px;
    background: #d8d8d8;
}

.app8_window {
    position: absolute;
    top: 40px;
    left: 20px;
    width: 60px;
    height: 60px;
    background: #c7f7fd;
}