@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Handlee&display=swap');

:root {
    --lamp-color: rgb(88, 88, 88);
    --table-depth-color: #423928;
    --window-color: #A8B6C7;
    --leaf-color: linear-gradient(to bottom right, #4CAF50, #1f6323);
    --cup-color: #F78438;
    --floor-color: #5c528bee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D9E1EE;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.canvas {
    position: relative;
    width: 100%;
    height: 100%;
}

.heading {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 8px;
    color: #fff;
    text-shadow:
        0 0 5px rgba(255, 255, 255, 0.2),
        0 0 10px rgba(255, 255, 255, 0.2),
        0 0 20px rgba(255, 200, 255, 0.2);
    animation: pulseGlow 4s ease-in-out infinite;
    z-index: 50;
}

.heading::after {
    content: "Cozy Office Vibes";
    position: absolute;
    top: 4px;
    left: 4px;
    color: #b3b3b3;
    z-index: -1;
    letter-spacing: 8px;
    font-size: 40px;
    opacity: 0.6;
    width: 400px;
}

@keyframes pulseGlow {
    0%, 100% {
        text-shadow:
            0 0 5px rgba(197, 152, 255, 0.1),
            0 0 10px rgba(197, 152, 255, 0.2),
            0 0 18px rgba(197, 152, 255, 0.3);
    }
    50% {
        text-shadow:
            0 0 8px rgba(134, 91, 255, 0.2),
            0 0 16px rgba(197, 152, 255, 0.5),
            0 0 28px rgba(197, 152, 255, 0.2);
    }
}

.clock {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    margin: 80px 50px;
    transform: scale(0.8);
    position: relative;
    border: 4px solid #cacaca;
    outline: 6px solid #272627;
}

.hourHand {
    position: absolute;
    left: 50%;
    top: 8%;
    height: 2.5rem;
    transform-origin: bottom;
    animation: ticking 43200s linear infinite;
}

.minHand {
    position: absolute;
    top: 50%;
    right: 11%;
    width: 2.2rem;
    transform-origin: left;
    animation: ticking 3600s linear infinite;
}

.secHand {
    position: absolute;
    bottom: 14%;
    right: 48%;
    height: 2rem;
    color: rgb(197, 40, 40);
    transform-origin: top;
    animation: ticking 60s steps(60) infinite;
}

@keyframes ticking {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.floor {
    z-index: 1;
    position: absolute;
    bottom: 0;
    background: var(--floor-color);
    width: 100%;
    height: 5em;
    padding: 5px 10px;
}

.floorDepth {
    display: inline-block;
    margin: 8px 28px;
    height: 13px;
    border-radius: 50px;
}

.wallLamps {
    z-index: 10;
    position: absolute;
    top: 0;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    gap: 400px;
}

.lamp {
    width: 8px;
    height: 80%;
    background: var(--lamp-color);
    position: relative;
}

.lamptop {
    position: absolute;
    top: 90%;
    left: -6px;
    width: 20px;
    height: 20px;
    background: var(--lamp-color);
}

.lampHead {
    display: block;
    position: relative;
    top: 90%;
    left: -40px;
    width: 100px;
    height: 20px;
    border-radius: 50% 50% 0 0;
    background: var(--lamp-color);
    box-shadow: inset 0 0 0 1000px rgba(166, 151, 233, 0.3);
    cursor: pointer;
}

.lampHead::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    height: 300px;
    background: radial-gradient(ellipse at top,
            rgba(255, 255, 180, 0.3),
            rgba(255, 255, 180, 0) 80%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    filter: blur(5px);
    z-index: -1;
    pointer-events: none;
}

.lampHead:hover::after {
  background: radial-gradient(ellipse at top,
    rgba(255, 255, 200, 0.5),
    rgba(255, 255, 200, 0) 80%);
}

.windows {
    position: absolute;
    top: 15%;
    right: 30%;
    height: 200px;
    width: 35em;
    border: 10px solid var(--window-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #cbe3fc;
}

.window {
    width: 100%;
    height: 100%;
    color: var(--window-color);
}

.vase {
    z-index: 10;
    position: absolute;
    right: 30px;
    bottom: 5%;
    width: 100px;
    height: 120px;
    border-radius: 10px 10px 40% 40%;
    background: #50442d;
    transform: scale(0.6);
    border-top: 20px solid #756546;
}

.branch {
    display: block;
    position: absolute;
    top: -120px;
    left: 30%;
    width: 3px;
    height: 100px;
    background: #09790f;
    transform: skew(10deg);
}

.leaf {
    display: block;
    position: absolute;
    top: -80px;
    left: -40px;
    width: 40px;
    height: 100px;
    background: var(--leaf-color);
    border-radius: 50% 50% 50% 50%;
    transform: rotate(-30deg);
    box-shadow: inset -5px 0 10px rgba(0, 0, 0, 0.1);
}

.branch3 {
    display: block;
    position: absolute;
    top: -170px;
    left: 80%;
    width: 3px;
    height: 150px;
    background: #09790f;
    transform: skew(-10deg);
}

.leaf3 {
    display: block;
    position: absolute;
    top: -80px;
    left: -10px;
    width: 50px;
    height: 120px;
    background: var(--leaf-color);
    border-radius: 50% 50% 50% 50%;
    transform: rotate(20deg);
    box-shadow: inset -5px 0 10px rgba(0, 0, 0, 0.1);
}

.branch2 {
    display: block;
    position: absolute;
    top: -60px;
    left: 50%;
    width: 3px;
    height: 40px;
    background: #09790f;
    transform: skew(-10deg);
}

.leaf2 {
    display: block;
    position: absolute;
    top: -40px;
    left: -10px;
    width: 30px;
    height: 50px;
    background: var(--leaf-color);
    border-radius: 50% 50% 50% 50%;
    transform: rotate(10deg);
    box-shadow: inset -5px 0 10px rgba(0, 0, 0, 0.1);
}

.table {
    z-index: 10;
    left: 200px;
    bottom: 3em;
    position: absolute;
    justify-self: center;
    width: 60%;
    height: 16rem;
    border: 20px solid #685A3E;
    border-bottom: 0;
}

.depth {
    width: 53rem;
    height: 17.3rem;
    border-top: 20px solid var(--table-depth-color);
    border-left: 20px solid var(--table-depth-color);
    border-right: 20px solid var(--table-depth-color);
    position: absolute;
    top: -40px;
    right: -30px;
}

.computer {
    display: inline-block;
    position: relative;
    bottom: 88%;
    width: 200px;
    height: 130px;
    border: 6px solid #414141;
    background: #93d2ff;
    padding: 8px;
    border-radius: 3px;
}

.stand {
    position: absolute;
    bottom: -40px;
    left: 45%;
    width: 10px;
    height: 40px;
    border: 6px solid #414141;
}

.holder {
    position: absolute;
    top: 28px;
    width: 60px;
    height: 20px;
    right: -30px;
    border-radius: 50%;
    background: #303030;
}

.whiteBoard {
    margin: 80px 50px;
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 180px;
    border: 6px solid rgb(168, 168, 168);
    background: #fff;
    padding: 25px 20px;
    border-radius: 5px;
}

.whiteboardDepth {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 250px;
    height: 180px;
    border: 6px solid rgb(65, 65, 65);
    border-radius: 5px;
}

.stickyNote {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 5px;
    box-shadow: 5px 5px 0px rgb(236, 236, 236);
}

.bhead {
    position: absolute;
    top: 4%;
    left: 34%;
    font-size: 0.7rem;
    font-weight: 600;
    font-family: "Handlee", cursive;
}

.stickyNote small {
    font-family: "Handlee", cursive;
    font-size: 0.55rem;
    font-weight: 600;
    color: #2c2c2c;
    display: block;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.5px;
}

.fill {
    display: block;
    width: 30px;
    height: 5px;
    background: #b9b9b9;
    margin: 2px 0;
    border-radius: 20px;
}

.fill2 {
    display: block;
    width: 30px;
    height: 5px;
    background: #dadada;
    margin: 2px 5px;
    border-radius: 20px;
}

.app_window {
    width: 80px;
    height: 80px;
    background: #ffffff;
}

.app2_window {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    background: #DBEFFD;
}

.app3_window {
    width: 60px;
    height: 60px;
    background: #ffffff;
}

.app4_window {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 80px;
    height: 80px;
    background: #DBEFFD;
}

.app5_window {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 80px;
    height: 80px;
    background: #BDDCFC;
}

.app5_window {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 80px;
    height: 80px;
    background: #BDDCFC;
}

.app6_window {
    position: absolute;
    width: 80px;
    height: 80px;
    background: #d5eaff;
}

.app7_window {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 80px;
    height: 75px;
    background: #d8d8d8;
}

.app8_window {
    position: absolute;
    top: 40px;
    left: 20px;
    width: 60px;
    height: 60px;
    background: #c7f7fd;
}

.chair {
    position: absolute;
    bottom: 180px;
    right: 390px;
    z-index: 10;
    width: 130px;
    height: 200px;
    border-right: 30px solid #1C302F;
    border-bottom: 30px solid #1C302F;
    border-radius: 30px;
}

.chairHandle {
    position: relative;
    top: 120px;
    left: 20px;
    z-index: 10;
    width: 100px;
    height: 80px;
    border: 15px solid #1C302F;
    border-radius: 30px;
}

.chairHandledepth {
    position: relative;
    top: 125px;
    left: 858px;
    width: 100px;
    height: 80px;
    border: 15px solid #132020;
    border-radius: 30px;
}

.chairStand {
    display: block;
    position: absolute;
    width: 15px;
    height: 90px;
    background: #1C302F;
    bottom: -131px;
    left: 55px;
}

.standTConnector {
    display: block;
    position: absolute;
    width: 50px;
    height: 10px;
    background: #1C302F;
    border-radius: 20px;
    top: -10px;
    right: -20px;
}

.standBConnector {
    display: block;
    position: absolute;
    width: 80px;
    height: 10px;
    background: #1C302F;
    border-radius: 20px;
    bottom: -9px;
    right: -32px;
    z-index: 10;
}

.wheels {
    position: absolute;
    top: 11px;
    left: -2px;
    display: flex;
    gap: 17px;
}

.wheel {
    width: 15px;
    height: 15px;
    background: #1C302F;
    border-radius: 50%;
}

.wheel.enlarge {
    padding: 10px;
}

.cup {
  z-index: 10;
  width: 40px;
  height: 45px;
  background: var(--cup-color);
  position: absolute;
  bottom: 260px;
  right: 300px;
  border-radius: 5px;
  box-shadow: inset -2px -2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);
  overflow: visible;
  cursor: pointer;
}

.cup::before,
.cup::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 20px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  opacity: 0;
  animation: none;
}

.cup::after {
  left: 40%;
  height: 15px;
  background: rgba(255, 255, 255, 0.3);
}

.cup:hover::before,
.cup:hover::after {
  animation: steamUp 1.5s ease-in-out infinite;
  opacity: 1;
}

@keyframes steamUp {
  0% {
    transform: translateX(-50%) translateY(0) scaleX(1);
    opacity: 0.4;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: translateX(-50%) translateY(-30px) scaleX(1.3);
    opacity: 0;
  }
}

.cupHolder {
    width: 30px;
    height: 30px;
    border: 5px solid var(--cup-color);
    position: absolute;
    top: 8px;
    left: 25px;
    border-radius: 50%;
    z-index: 0;
    background: transparent;
}

.cupDepth {
    position: absolute;
    left: 0;
    width: 12px;
    height: 45px;
    background: #DA6C2A;
    border-radius: 5px 0 0 5px;
}

/* .dustbin {
    position: absolute;
    left: 20px;
    width: 100px;
    height: 200px;
    background: #000;
} */